@model TagsPractica.DAL.Models.User



<div class="text-center">
    <div>


        <h3 style="text-align: left">Информация о пользователе</h3>
        <br>
        <form method="get">
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.userName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.userName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.password)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.password)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.email)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.email)
            </dd>
        </dl>
        </form>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Users">Back to List</a>
    </div>


</div>