@model List<TagsPractica.DAL.Models.User>

<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.userName</td>
                <td class="text-center"><a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">View</a></td>
                <td class="text-center"><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a></td>
                <td class="text-center"><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
</div>

